body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    font-family: "Onest", sans-serif;
    font-weight: 400;
}

title {
    margin-bottom: 20px;
}

.paragraph {
    margin: 5px 0 10px 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.form-field {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-input {
    padding: 8px;
    font-size: 1rem;
    margin-top: 4px;
}

.submit {
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit:hover {
    background-color: #45a049;

}